<form [formGroup]="addGameForm" (ngSubmit)="onSubmit(addGameForm)">
  <div>
    <label for="name">Title</label>
    <input formControlName="title" type="text" placeholder="Title of the board game" />
    <span *ngIf="addGameForm.controls['title'].errors" style="color: red">Board game title is required</span>
  </div>
  <div>
    <label for="year">Year</label>
    <input formControlName="year" type="text" placeholder="Year game released" />
  </div>
  <div>
    <label for="price">Price</label>
    <input formControlName="price" type="text" placeholder="Price of the game"/>
  </div>
  <div>
    <label for="minPlayers">Minimum Players</label>
    <input formControlName="minPlayers" type="text" placeholder="Minimum number of players" />
  </div>
  <div>
    <label for="maxPlayers">Maximum Players</label>
    <input formControlName="maxPlayers" type="text" placeholder="Maximum number of players" />
  </div>
  <div>
    <label for="minAge">Minimum Age</label>
    <input formControlName="minAge" type="text" placeholder="Minimum age required to play" />
  </div>
  <div>
    <label for="rate">Rating</label>
    <select formControlName="rate" id="rate">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
  </div>
  <button type="submit" [disabled]="addGameForm.invalid">Save</button>
  <button type="button" (click)="onClear(addGameForm)">Clear</button>
  <button routerLink="/games">Back</button>
</form>
